/* style.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px; /* Add padding to accommodate the fixed header */
}

/* Header */
header {
    background-color: #064B8B;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    top: 0;
    width: 100%;
    z-index: 999;
}

.name {
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
}

.tagline {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

/* Sections */
section {
    text-align: center;
}

section h2 {
    font-size: 28px;
    color: #064B8B;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

section:nth-child(even) {
    background-color: #f9f9f9;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-wrapper > div {
    flex: 1;
}

section ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

footer {
    background-color: #064B8B;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .name {
        font-size: 32px;
    }

    .tagline {
        font-size: 14px;
    }

    .navigation li a {
        font-size: 16px;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }

    .section-wrapper {
        flex-direction: column;
    }
}
